{% extends 'base.html' %}

{%block content%}
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3>Upload File</h3>
              <p>Choose a recording and upload it here:</p>
              <form action="/statics/uploads" method="post" enctype="multipart/form-data" style="margin-bottom: 5%">
                <p><b>Recording:</b></p>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="custom_file" name="file" />
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary" name="button" value="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3>Record Voice</h3>

              <div data-role="controls">
                <button class="btn btn-success">Record</button>
              </div>
              <div data-role="recordings"></div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <!-- WAVEPLOT -->

        <div class="col-sm-6">
          <div class="card">
            <div class="card-header"><h3>Waveplot</h3></div>
            <div class="card-body">
              <img
                src="/{{ waveplot }}"
                alt="Waveplot"
                class="img-fluid"
                id="waveplotImage"
              />
            </div>
          </div>
        </div>
        

        <!-- SPECTROGRAM -->
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header"><h3>Spectrogram</h3></div>
            <div class="card-body">
              <img
                src="/{{ spectrogram }}"
                alt="Spectrogram"
                class="img-fluid"
                id="spectrogramImage"
              />
            </div>
          </div>
        </div>
        
      </div>
      <hr />
      <!-- SHOW THE AUDIO PLAYER-->

      <div class="card text-center mt-5">
        <div class="card-header"><h3>Audio</h3></div>
        <div class="card-body">
          <audio controls class="w-100">
            <source src="/{{ audio }}" type="audio/wav" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>

      <hr />
      <div class="row mt-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header"><h3>Transcribed Text</h3></div>
            <div class="card-body">
              <p class="card-text">
                <textarea id="transcribed-text" rows="8" style="width: 100%">
                {{ sentence }}
               </textarea
                >
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-header"><h3>Sinhala Transcription</h3></div>
            <div class="card-body">
              <p class="card-text">
                <textarea rows="8" style="width: 100%">
                  {{ sinhala_sentence }}
                </textarea>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row mt-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header"><h3>Caller Emotion</h3></div>
            <div class="card-body">
              <p class="card-text">
                <textarea rows="3" style="width: 100%">
                  {{ emotion }}
                </textarea>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-header"><h3>Connecting to Department</h3></div>
            <div class="card-body">
              <p class="card-text">
                <textarea rows="3" id="department-text" style="width: 100%">
                  {{ department }}
                </textarea>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <h5 class="card-header">Addtional info</h5>
        <div class="card-body">

          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Alert!</strong> {{ message }}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div> 

          {% endfor %}
           
        </div>
      </div> 
      <div class="mt-3 text-center">
        <form action="/resolve_incident" method="post">
        <button type="submit" class="btn btn-primary" name="button" value="resolveIncident">Resolve Incident</button>
      </form>
      </div>
    </div>


    <script>
      // SET DEFAULT IMG FOR WAVEPLOT

      var waveplotValue = { waveplot };

      var waveplotImage = document.getElementById("waveplotImage");
      var waveplotDefaultImage = document.getElementById(
        "waveplotDefaultImage"
      );

      if (waveplotValue) {
        waveplotImage.style.display = "block"; // Show the message
        waveplotDefaultImage.style.display = "none";
      } else {
        waveplotImage.style.display = "none"; // Hide the message
        waveplotDefaultImage.style.display = "block";
      }
    </script>
    <script>
      // SET DEFAULT IMG FOR SPECTROGRAM

      var spectrogramValue = {{ spectrogram }};

      var spectrogramImage = document.getElementById("spectrogramImage");
      var spectrogramDefaultImage = document.getElementById(
        "spectrogramDefaultImage"
      );

      if (spectrogramValue) {
        spectrogramImage.style.display = "block"; // Show the message
        spectrogramDefaultImage.style.display = "none";
      } else {
        spectrogramImage.style.display = "none"; // Hide the message
        spectrogramDefaultImage.style.display = "block";
      }
    </script>
    <script>
      //HANDLE IF EMOTION EQUAL FEAR CONDITION

        var emotionValue = {{ emotion }};

        var supportMessageElement = document.getElementById("supportMessage");

        if (emotionValue === "fear") {
          supportMessageElement.style.display = "block"; // Show the message
        } else {
          supportMessageElement.style.display = "none"; // Hide the message
        }
    </script>


    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery.min.js"
    ></script>
    <script src="https://markjivko.com/dist/recorder.js"></script>
    <script>
      jQuery(document).ready(function () {
        var $ = jQuery;
        var myRecorder = {
          objects: {
            context: null,
            stream: null,
            recorder: null,
            stopTimeout: null,
          },
          init: function () {
            if (null === myRecorder.objects.context) {
              myRecorder.objects.context = new (window.AudioContext ||
                window.webkitAudioContext)();
            }
          },
          start: function () {
            var options = { audio: true, video: false };
            navigator.mediaDevices
              .getUserMedia(options)
              .then(function (stream) {
                myRecorder.objects.stream = stream;
                myRecorder.objects.recorder = new Recorder(
                  myRecorder.objects.context.createMediaStreamSource(stream),
                  { numChannels: 1 }
                );
                myRecorder.objects.recorder.record();
                // Set the stop timeout
                myRecorder.objects.stopTimeout = setTimeout(function () {
                  $('[data-role="controls"] > button').attr(
                    "data-recording",
                    ""
                  );
                  myRecorder.stop($('[data-role="recordings"]'));
                }, 15000); // 10 seconds (10000 milliseconds) 
              })
              .catch(function (err) {});
          },
          stop: function (listObject) {
            if (null !== myRecorder.objects.stream) {
              myRecorder.objects.stream.getAudioTracks()[0].stop();
            }
            if (null !== myRecorder.objects.recorder) {
              myRecorder.objects.recorder.stop();

              // Validate object
              if (
                null !== listObject &&
                "object" === typeof listObject &&
                listObject.length > 0
              ) {
                // Export the WAV file
                myRecorder.objects.recorder.exportWAV(function (blob) {
                  var url = (window.URL || window.webkitURL).createObjectURL(
                    blob
                  );

                  // Prepare the playback
                  var audioObject = $("<audio controls></audio>").attr(
                    "src",
                    url
                  );

                  // Prepare the download link
                  var downloadObject = $("<a>&#9660;</a>")
                    .attr("href", url)
                    .attr("download", new Date().toUTCString() + ".wav");

                  // Wrap everything in a row
                  var holderObject = $('<div class="row"></div>')
                    .append(audioObject)
                    .append(downloadObject);

                  // Append to the list
                  listObject.append(holderObject);
                });
              }
            }
          },
        };

        // Prepare the recordings list
        var listObject = $('[data-role="recordings"]');

        // Prepare the record button
        $('[data-role="controls"] > button').click(function () {
          // Initialize the recorder
          myRecorder.init();

          // Get the button state
          var buttonState = !!$(this).attr("data-recording");

          // Toggle
          if (!buttonState) {
            $(this).attr("data-recording", "true");
            myRecorder.start();
          } else {
            $(this).attr("data-recording", "");
            myRecorder.stop(listObject);
          }
        });
      });
    </script>
{%endblock%}
