{% extends 'base.html' %}

{%block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Alert!</strong> {{ message }}.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> 

{% endfor %}
    <form method="POST" style="text-align: center; margin-bottom: 2%;">
      <button type="submit" class="btn btn-success">Train Model</button>
  </form>
      <div class="row mb-3">
        <div class="col-sm-6" style="margin: auto;">
          <div class="card">
            <div class="card-body">
              <h3>Class Distribution</h3>
              <img src=" {{ plot_class_dist }}" id="classDistributionImage"  alt="Class Distribution" style="width: 100%; height: auto;">
            </div>
          </div>
        </div>
        
      </div>
      <hr/>

      <div class="row mb-3">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3>Learning Curve</h3>
              <img src="{{ plot_learning_curve }}" id="learningCurveImage"  alt="Learning Curve" style="width: 100%; height: auto;">
            </div>
          </div>
        </div>
        <div class="col-sm-6" >
          <div class="card">
            <div class="card-body">
              <h3>Confusion Matrix</h3>
              <img src="{{ plot_conf_mat }}" id="confusionMatrixImage"  alt="Confusion Matrix" style="width: 100%; height: auto;">
            </div>
          </div>
        </div>


      </div>
      <hr/>

      <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header"><h3>Hyper Parameters </h3></div>
          <div class="card-body">
            <p class="card-text">
              <textarea rows="6" style="width: 100%">
                {% if hyperparameters %}
                {{ hyperparameters }}
                {% endif %}
              </textarea>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header"><h3>Best Accuracy of the model </h3></div>
          <div class="card-body">
            <p class="card-text">
              <textarea rows="6" style="width: 100%">
                {% if best_Accuracy %}
                {{ best_Accuracy }}
                {% endif %}
              </textarea>
            </p>
          </div>
        </div>
      </div>
      <div class="mt-3 text-center">
        <form action="/apply_new_text_classification" method="post">
        <button type="submit" class="btn btn-primary" name="button" value="applyNewTextClassification">Apply New Model</button>
      </form>
      </div>
      </div>


    <script>
      // SET DEFAULT IMG FOR CLASS DRISTRIBUTION 

      var classDistribution = {{ url_for('static', filename='images/class_distribution.png') }}; //PASS THE VALUE FOR CLASS DRISTRIBUTION IMAGE RECIEVED FROM BACKEND

      var classDistributionImage = document.getElementById("classDistributionImage");
      var classDistributionDefaultImage = document.getElementById(
        "classDistributionDefaultImage"
      );

      if (classDistribution) {
        classDistributionImage.style.display = "block"; // Show the Class distribution image
        classDistributionDefaultImage.style.display = "none";
      } else {
        classDistributionImage.style.display = "none"; //Show the default Class distribution image
        classDistributionDefaultImage.style.display = "block";
      }
    </script>

    <script>

      // SET DEFAULT IMG FOR LEARNING CURVE

      var learningCurve = {{ url_for('static', filename='images/learning_curve.png') }}; //PASS THE VALUE FOR LEARNING CURVE IMAGE RECIEVED FROM BACKEND

      var learningCurveImage = document.getElementById("learningCurveImage");
      var learningCurveDefaultImage = document.getElementById(
        "learningCurveDefaultImage"
      );

      if (learningCurve) {
        learningCurveImage.style.display = "block"; // Show the Learning Curve image
        learningCurveDefaultImage.style.display = "none";
      } else {
        learningCurveImage.style.display = "none"; //Show the default Learning Curve image
        learningCurveDefaultImage.style.display = "block";
      }
    </script>

    <script>
      // SET DEFAULT IMG FOR CONFUSION MATRIX

      var confusionMatrix = {{ url_for('static', filename='images/confusion_matrix.png') }}; //PASS THE VALUE FOR CONFUSION MATRIX RECIEVED FROM BACKEND

      var confusionMatrixImage = document.getElementById("confusionMatrixImage");
      var confusionMatrixDefaultImage = document.getElementById(
        "confusionMatrixDefaultImage"
      );

      if (confusionMatrix) {
        confusionMatrixImage.style.display = "block"; // Show the Confusion Matrix image
        confusionMatrixDefaultImage.style.display = "none";
      } else {
        confusionMatrixImage.style.display = "none"; //Show the default Confusion Matrix image
        confusionMatrixDefaultImage.style.display = "block";
      }
    </script>

{%endblock%}
