{% extends 'base.html' %} {%block content%} {% for message in
  get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Alert!</strong> {{ message }}.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  
  {% endfor %}
  <form id="train-model-form" method="POST" style="text-align: center; margin-bottom: 2%">
    <button type="submit" class="btn btn-success" value="trainNewEmotionModel">Train Model</button>
  </form>
  <div class="row mb-3">
    <div class="col-sm-6" style="margin: auto">
      <div class="card">
        <div class="card-body">
          <h3>Histroy Plot</h3>
          <img
            src="data:image/png;base64, {{ model_history }}"
            alt="Model training history plot"
            style="width: 100%; height: auto"
            onerror="if (this.src != 'static/error.png') this.src = 'static/error.png';"
          />
        </div>
      </div>
    </div>
  </div>
  <hr />
  
  <!-- Display Training Evaluation -->
  
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3>Model Evaluation</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="card border-0">
              <div class="card-body">
                <h4>Accuracy</h4>
                <div class="card-text">
                            {% for metric in metrics %}
                            <p>Accuracy for {{ metric.emotion }}: {{ metric.accuracy }}</p>
                            {% endfor %}
                          </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card border-0">
              <div class="card-body">
                <h4>Precision</h4>
                <div class="card-text">
                            {% for metric in metrics %}                           
                            <p>Precision for {{ metric.emotion }}: {{ metric.precision }}</p>
                            {% endfor %}
                  </div>                         
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6">
            <div class="card border-0">
              <div class="card-body">
                <h4>Recall</h4>
                <div class="card-text">
                            {% for metric in metrics %}                            
                            <p>Recall for {{ metric.emotion }}: {{ metric.recall }}</p>
                            {% endfor %}
                          
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-sm-6">
            <div class="card border-0">
              <div class="card-body">
                <h4>F1 Score</h4>
                <div class="card-text">   
                            {% for metric in metrics %}                             
                              <p>F1 Score for {{ metric.emotion }}: {{ metric.f1_score }}</p>
                              {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6">
            <div class="card border-0">
              <div class="card-body">
                <h4>AUC</h4>
                <div class="card-text">
                            {% for metric in metrics %}
                              <p>AUC for {{ metric.emotion }}: {{ metric.auc }}</p>
                              {% endfor %}
                          
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <hr />
  
  <!-- Display Testing Evaluation -->
  
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3>Graphs</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="card border-0">
              <div class="card-body">
                <h4>Confusion Matrix for each Emotion</h4>
                {% for metric in metrics %}
                <img
                  src="data:image/png;base64,{{ metric.confusion_matrix_img }}"
                  alt="Confusion Matrix"
                  style="width: 100%; height: auto"
                />
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card border-0">
              <div class="card-body">
                <h4 class="mb-2">ROC Curve on all Emotions</h4>
                {% for metric in metrics %} {% if metric.emotion == 'all_emotions'
                %}
                <img
                  src="data:image/png;base64,{{ metric.roc_curve_img }}"
                  alt="Combined ROC Curve"
                  style="width: 100%; height: auto"
                  onerror="if (this.src != 'static/error.png') this.src = 'static/error.png';"
                />
                {% endif %} {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="mt-3 text-center">
        <form action="/apply_new_voice_emotion_model" method="post">
          <button
            type="submit"
            class="btn btn-primary"
            name="button"
            value="applyNewEmotionModel"
          >
            Apply New Model
          </button>
        </form>
      </div>
    </div>

    <script>
      document.getElementById('train-model-form').addEventListener('submit', function() {
        var spinnerContainer = document.getElementById('spinner-container');
        spinnerContainer.style.display = 'block';
        spinnerContainer.classList.add('active');
      });
      </script>
  
    {%endblock%}
  </div>
  